<a href="https://colab.research.google.com/github/surbhi28/hamoye_projects/blob/main/Graded_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('/content/FoodBalanceSheets_E_Africa_NOFLAG.csv',encoding = 'latin-1')
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

--------------------------Total Protein supply quantity in Madagascar in 2015-----------------------------------

In [95]:
df_grouped_area_element = df.groupby(['Area','Element'])
df_grouped_area_element

In [99]:
df_grouped_area_element.agg(func='sum').loc['Madagascar','Y2015']

<ipython-input-99-0256a01794dd>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_grouped_area_element.agg(func='sum').loc['Madagascar','Y2015']

Element
Domestic supply quantity                  31214.98
Export Quantity                             494.75
Fat supply quantity (g/capita/day)           91.85
Feed                                       2070.22
Food                                      21120.65
Food supply (kcal/capita/day)              7685.00
Food supply quantity (kg/capita/yr)         871.59
Import Quantity                            1721.80
Losses                                     2176.00
Other uses (non-food)                      3957.12
Processing                                 1803.00
Production                                29482.89
Protein supply quantity (g/capita/day)      173.05
Residuals                                  -616.00
Seed                                        699.00
Stock Variation                            -505.00
Total Population - Both sexes             24234.00
Name: Y2015, dtype: float64

---------------Area having highest sum in 2017, based on groupby operation on Area----------------------------

In [51]:
df.groupby('Area')['Y2017'].sum().max()

1483268.23

---------------------Total number of the sum of processing in 2017----------------

In [20]:
df_grouped_element = df.groupby(by=['Element'])
df_grouped_element

In [41]:
df_grouped_element.get_group('Processing')['Y2017'].sum()

292836.0

-------------Total no & percentage of missing data in 2014 to 3 decimal places--------------------

In [43]:
total_no_missing = df[df['Y2014'].isnull()].shape[0]
print(total_no_missing)
percentage_missing = round(df[df['Y2014'].isnull()].shape[0] * 100 /df.shape[0],3)
percentage_missing

1589

2.607

---------Mean and Standard Deviation across whole dataset for year 2017 to 2 decimal places--------------

In [44]:
round(df['Y2017'].mean(),2)

140.92

In [45]:
round(df['Y2017'].std(),2)

1671.86

--------------Groupby on Element --Year with highest Sum of Stock Variation----------

In [47]:
df_grouped_element.get_group('Stock Variation')[['Y2014','Y2015','Y2016','Y2017','Y2018']].sum()

Y2014    58749.83
Y2015    34910.99
Y2016    33140.12
Y2017    54316.91
Y2018    20577.91
dtype: float64

-----------Area with 7th lowest sum in 2017----------

In [69]:
area_data = df.groupby('Area')['Y2017'].sum()
area_data.sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
Côte d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

------------Total no of unique countries in dataset----------------

In [88]:
len(df['Area'].unique())

49

---------Total sum of Wine produced in 2015 and 2018---------------------

In [50]:
df.groupby('Item').get_group('Wine')[['Y2015','Y2018']].sum()

Y2015    4251.81
Y2018    4039.32
dtype: float64

----------Year with Least Correlation with element Code-----------

In [100]:
df['Element Code'].corr(df['Y2014'])

0.024456819495221754

In [101]:
df['Element Code'].corr(df['Y2015'])

0.023889199301639956

In [102]:
df['Element Code'].corr(df['Y2016'])

0.023443997584961424

In [103]:
df['Element Code'].corr(df['Y2017'])

0.02425400776004575

In [104]:
df['Element Code'].corr(df['Y2018'])

0.02427857195351955